<div class="container">
    <form class="form-signin" method="POST" action="">
    	<div class="header">
			<img src="img/logo-simple_72.png" alt="logo" />
        	<h2 class="form-signin-heading">
        		<div class="row">
        			<span class="adelle bold">Sage</span><span class="adelle">Point</span>
    			</div>
    			<div class="row">
        			<span>Software</span>
    			</div>
        	</h2>
    	</div>
    	<div class="footer">
    		<h2> Shoot us an email!</h2>
	    	{{input id="fromEmail" name="fromEmail" type="text" value=fromEmail placeholder="Your email (so we can respond)"}}
	        {{view Ember.Select content=subjects class="selectpicker"}}
            {{textarea id="body" name="body" class="xxlarge" rows=4 value=body placeholder="What's on your mind?"}}
	        <button {{action 'send' }} class="btn btn-lg btn-primary btn-block btn-sage" >Send</button>
    	</div>
    </form>

</div> <!-- /container -->